* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    color: #3e3c19;
}

p {
    width: 50%;
    margin: 0 25% 1em 25%;
    text-align: justify;
}

#main {
    margin-left: 15em;
    color: black;
}