.devcard {
    display: flex;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
    max-width: 400px;
    width: 90%;
    padding: 10px;
    gap: 20px;
    align-items: center;
    margin: 10px;
}


.devcard:hover {
    box-shadow: 0px 0px 10px 1px black;
    scale: 1.01;
}