.teamlist {
    width: 50%;
    margin: 2em 25%;
    display: grid;
    grid-template: 
    "a b c d" auto
    "e e e e" auto / 1fr 3fr 3fr 1fr;
    align-items: center;
    justify-items: center;
    row-gap: 1em;
    column-gap: 1em;
}

.teamlistcounter {
    grid-area: e;
    text-align: center;
    border-bottom: 3px solid #9ad969;
    padding: 1ex 3em 1ex 3em;
    user-select: none;
}

.teamlistbutton {
    border: 1px solid #9ad969;
    border-radius: 500em;
    padding: 1em;
    box-shadow: 0 0 10px 0 black;
    user-select: none;
}


.teamlistbutton:hover {
    cursor: pointer;
    box-shadow: none;
}